@font-face {
  font-family: "iconfont"; /* Project id 3854947 */
  src: url("http://at.alicdn.com/t/c/font_3854947_oa71186m77.eot?t=1715330577223"); /* IE9 */
  src: url("http://at.alicdn.com/t/c/font_3854947_oa71186m77.eot?t=1715330577223#iefix")
      format("embedded-opentype"),
    /* IE6-IE8 */
      url("data:application/x-font-woff2;charset=utf-8;base64,d09GMgABAAAAABUwAAsAAAAAJ4AAABTiAAEAAAAAAAAAAAAAAAAAAAAAAAAAAAAAHFQGYACJHgq3FKtiATYCJAOBLAtYAAQgBYRnB4N0G7QgM4O2mrQSiuz/kNwx8ak52FLuhpcMOCE+dIhFpbxqmZI1EibIyzf64+63QW1bibrqA2JwcCglD8/vxzxfMJFESHgyyaqTUpZGmvb+LgYBnOsWFZTpE30gf6cRUGvbs/jmg0lJlFwZnt9mDz5ItVIfERVzShiF0BbMALECe96imAmrZmtdGXczzt15uYhyFc5d4YW3LAbrej9pPWk9qLAq+QENnrAoPZfkmlwHuw/c9ZMKeHD64O0zAdmYfbvP0c3Z94AAgM/DORum3bOQEWYoZ58coMJre8muu+aSFAbCm/39Wmpvg+BSF4JXFooUkHEVcunae7tHf4N7l8ImpQ3xJQWk8QRC7YZwr8SXIqlOHalWV6hKUaN8IXWNGy8/hlWsqIvxZ2z2e9YqGDbbELGCMO7+73uRQa3LT1xd3zhAvj/5/ogrux2dIWqY3d9cncBus8mM2IxuV3n7Ldt7UYH8R3wG+Ol9/+wDLFSNnFK4XdfO5dq5Y278RBeE/07K/6GsvDWg/RwqoID5luXkv9jF2YsiwHlPNGnVy+wcsHj/HNBIeLf/YpY49dK22d3r3uO+6b7tfuz+e5xLIFSUWAYVXOP/jb9PVXHTs9feqgn+uzye3BOKAocCx2PlYiazaPOBmPViaw0E6gINsanSJ239j3nAjKe3xcfX7JApVLWTs0iy2AwqrkCvYdNpDCaLb3W3u5pcjG4egp6s0q1+PcirjbJZEh4BMyQRME7yByZJMUAXKRGYIqmBaVIa0EnaDPSReoESaYjTcOseACqRbgL9pNvAAOkxMEgaB3Kkv4ECwQVmCcEiPcAD0EbIgQZEFNCIiAFaiFiglTAATYgioB5RDFQjSoAqRClQgygDahHlQB2iAmgmXEA38R8wSrwHenlVAcO8FgMdvE4Hhni1M1DotR2AEV5XAWN88onMs3ZBtgnTf679I8AzUP2bupoNt5aJ5CJLxDslUArKRjqZQkTjL/AMt0bi43lZNk/ahLx2mU/Kau6WxhHX1Aih+oTCKOPhEISCxAS+zJvJFJK4FJ4PkcLQsnAQvSTDJBJBLI5msdk6Eg7iWCwasQWLRKaiqExlCq+EAgEfIQzwTogjkVgMKsaPxqfCL+NyWQJ8Ed4p+NfZTXKDXqsPfledXe/sCXDz6I2u/jC6SPSklx4GhYuFzmv31ouXisS+veudEf5C/t6Nrg3SYXITseuLgRe+xtEbS2C8+EEnUXq4TogVcCSfnsSjWDwa8HSZrSvkJdGYadVTsXF3nq5PYlP4UBfqzcUAiQN8ncHxVBRRg2WJcDKRpEY7Oqm+srGurLGiTmlsQLen2wISBDFmCoqZwkleNtJc1OA5gxNF6yFLAJPHYmPh++NUpiR+kjVN/klrUH7RWQEAxJ7fXj4FOw43h3oenEqGbz5FCJJSAuMZKJ8zCV8PornsJjzH0WsAzGW4b4RUgJNpmm2CkAM4T4uwmvmQvOE4qNnNkBQ5juZxASEgGwbwfcpGCwBPcDSUDVk0n0oJl/VZ9FFE7nE3xQqX2dUNiX5/s1p8UjebZTpxJS181KBi3GqTNDtXb7NCiu/UaxZF1Woq5QRB0ZnrOj9mgmYqlUynRY+jjmzks0XJ97U3nu8r1HGw6zLfJ55XzRupDEKNQKltKkSs1FxMD5RXFI43kgBwEFoN1tf5kVfLqqQkwIPXH/eX+D6tR1GsaXuzuw7NZgWhWjCBlJU59AYcUI9auxRjvbiHvJ0+0o/qLcPAgikg07aJZcXJW/YasOu8KkezRdLm7k73QbK03X/nztdju7M700n4NH1RyAqNYSAwsvfRh7fkZOfiTtfdd/l+ONfGlHIIsaAZzHj/8J2rn9zVxt5UlFY2L222AulA/tay5KKkydNPSZlKSuFYNFs8Hk1oGtBc1U7FZJ0prtFUdlS6P7u+6El7/Zj6QHU+dXbmI3mnYUAeRaqn+YZ3iO3LvHc5eHnX+Du5d16Gryo0zwMhttJSEBSAC6OlpYOmtBdDqnS3mjO4wyWzx4N44BF9MkSGn87+p/a/479X/x/9NX7YbF3Ey3PZ5daeAD9HIWRjJDTqdySKEAICpWZJK7HjVttSSZtDr7T1h6W5Ksj2eFADPAQBAIgB3xU5T3XZGDQ4+vnY/uL+rJilAT4febbzHkdFlUbyAOBu1r4cNJmUe6cvCoREngXEoI6HapESE5RGNWqJD39gMyFmYv2q/r5FpIRN9MxJzr9I3xHTC5n0AbDQh+5t995/IacDRmAkkNZfpnKNkLdzJJLf2CM7OeyK+93lPePvlD64KZXC4188dHdl1mXeux4sBDPhh5qvdqlHqOcR32euix0n0QJmxkhEbhEbEsXYs2DXfJ1j9Bq+zd6SF/WyoVMgR06SAq5MUhkpEKpAgeu4VInKqcHNokU42W4OaueyEilyc+aheBGL6G1LOdpCz7tGeVtVtZToKxJLZPVbZdhiZFR6DUzB11cDnankRtWcqXN11vuKE5VgEaqX0PE59FGPJQzOH3J1+HwOfVdOD61V+n+jw3XU0xowzOxNbAgJIhY3VGoAYL7KsoHlWqNO1ojFn0NkLElKKrScZppNLMqfhOn1LAMoqkUNLChGIQ+chRHxHBYlJkXNlBhVMa+IiOpxdnNpZXPfFe5TdWmzD7vurJZXiZ0vn33OEaAgVsEQGn/uLitrcURkqmDyevfOVR8S/wv23F2OnUVHJiFmYqNstESYYyOi36N0TCyuaFoDu8Sm9dkQJ98ShK7u8cfJNbouJT0V4EjyUS59njeE1OLWZS3OzvShNvpN8l7IBC9vMheby2Hr4pRgjoZzd1c2e0ua+jMrpRIkMlfEplD2VEceifBcWd2EmQencfhwZSSte8VW1jiqfutSSXI6PloI5o0QdUVzztjqJqR5JrYafVf9QNHe01V4c4eO8YrL25zqkacfjKFcIg0H1mBt1ibO6YKwOC2L4xbNl14DF5iUiPHJoo44ZAA4fgKhLZ3ksBVRmIzSEWRsybG4YB44zi8DUpEsQMzMQ3RgcNF5VsALFzufmMN8nKeLwfbRfHGVE/j9xBXh37UTbaQF56pYLCew/Vnktj0o+K3q3pgjy++J5r7facKwPZAEAY5G9GY9xumeeBxCRfYMENpGmkxZFTvLLmLFWbIsfvfy+Lhhpih7oR5ljbXZRVkLWocG8OsLfp+AvyAOG2lp9izz90ZZ9/4q0qqqz6aWpGh/c1b14kX5V+pfoQLnJVXPF1hcLVVh0bmuuUv0i6tDY3KtqjydJcwAGDYpw6DwD4Xace+9CL2WhZe17dV4qbzUasTy9cLv2V5rGfc1TfffZcbqJBtQcXP6g3ei1JPWD59GDhZG8LbwuuCvZyehhwBBnpWdw6tK6oR4puXHKYtcLNfiYzNTufgL9GJeuAotyZppQRygoGIJqYAh08py50cunwqHhmzecWRGwY8ZkzMcGV3v944cAcE3TFQr1WgKvN4YgBUHqlSBYiCezkCVdfjmmmi+3EitESai23uJJxxOJweaiQFcC4+olHNzuXKnnI2aYQZc/DoOk9ON57q51FxhNfVESJopITZiocwLYU0810v8weqFnaZL/WR0B6JS07cHRxXSeIF9fhTvYCGDoY27BWvxL/6aCUJ+osYIiti7JzaiCkbUVfTX0a/p/dYeows29k2wi8zGGEJ6fd9/OxmHNbaxsDG17TBjZ/3w6tPFzwcEZnilvNO1tbtPvmXtACy+uU/bOhcIIZKpLU/uCtow3Ldy4TBjJkG9MEVY1bm/S7Q7ousvfIRg/fp9M0VdIRvlrrZ8o3GSMTwso0h0OAqDr2/W7MDCVF9SYgIlilyR9cNLUoKGJOO2uI7tEO3g5hvrfLOOvyYlw8lek/xIbECbpXLKymfZIqG5bF/7gSWC9FBDcIg+BE9SeFeG1Jx23jSir5KEfFs4OpHg+0CYLnzgS0xA20IJiLfvWSORIyyANW7wpo+30qJbR9DXF7SKtmpcLgyQpkoD2NRIGnuYehgvxB95Bv6kY8MZfi3yFBur33dWNkbeuPcnHQlBijq5t9EfU2Fb+DkewhoSyZNXS+xpNe0lYC/03/IfoykocvSPHf9Be0FJu2aIrcvY1H8ptXcF18vy48cH+2z4x2YexlK9aftzMIP4G13pc3Tg6CBmcsPzv9gOx5eU/guC/f2lsTX1NQ1Cy1/s6hqg6HXaTRaDMbTD38G+QR3wLuQ15iLkFV9GEYps5NgLSipurxGZlr3x0ikvxpCKbMTolwp5Af8rdgmjjzXi7wjdqjeaLPPCfxl6+V2jWeuvnfIdNHRG4aHN8Z02hWanFjyfBhpodbRN1LhpKYVoSl/WGpUnl+fVibajLmgpt8DEYwnHiAn4UYFPDyb3JZ6epsSdkB2MVjAu1O5Mvm0F1/uehB7T7dxZ6EMOv55dXghL/jE96SFaPJ7BozFeaDQKIXrw+TOIBOF5fC8o4cdnKp7XCNl4Jeiia02EhhscKvrvpv3eFRNlxIsnyYa7Lqk2R80rztIkZAm7X2VRJH8ezxbu9If+eWbqzZe6+N9fFxKj/A4GXJQxOl0HhEtEBxY1498eEG32A5z/L9FQtM2bnyyRW1EBBw7+YnyyCukFVnGlb+rzJWa8qOZGhyLgLczZi/rc9FMMUo0/3z8xUAZ569gZFANnJjCBGoRXHcZR8ZA6sUlM3Kid5hW65X1yjTbyw+CnM6PkHIKKUrvcu6B/ZtAKIZhWC4cpqL4OeVBk97ejPE0rKM3KiyKvhWipSK0+KJp3Nppm9ffon+mBngI8FsdXynqFol751RfRph+6bvvLXrPdUlcgt8pkVnnBiGif3iorkI8Y7dc6btGX+S+jA9oyGgh6XGR9Q9bDOvIbig7WS7J+8lSBjvKGjPckfYjVBEII21AUrUUF0UU3xWoSXbd9c59dz1wZBWNPHcbAB0CqKT02RWcr06lj9c76XWMT0WEZkdmJJk3+oondbMDejsxeTz63du/cDaQv7vg881Z5U8DkMflUVcpUfOJReGYcJvBV8Mdj5Oqn+X1QnUccdyOt2YoqRoRTAsMQxdOhT5/92MCxKcAHfLvGPTrajhnEknD92IN4BK4Diz+AHcSSseexzaMPa1lPWXb2yKOHoBX7bTmZTcAp61TXfoA9AD2FsA9i+7Hk8m+xoO3RqP1VqR192HxBckFVT2E7cLjf/6shFzCxBzCnJXAqLUNfAlofPYSXC16H8twZMkF6RAf/cR4Ymkkyc1CNcABHGpdUF6EeZoPL4OJfbtpTHhfv+puvq5MJmvSJYRfpy2igQyF8wJEMLpdZJmnj1FlCMT+FxMJqGuDCTT64Q/SDuCCCh/ALEoOIjwaE+7GSDiFOzB4G99vu/M6LNjIvMVezLjJTLZcNLPVR4Yed/B5aCTGdWEGw0vi4cQKnDSUDAVA+P9FgkmvaxOrHkBxaDa/Z7FfTvkzaWpPsBFvNew4N6MT7VNJESDU1xc1toxxX0Fg+e0jpZEuj6948ztFkrfeO5+qc1b/gDmH3YA/RsR5Ywo9jtr7/3PGe/+xusfBwwmBzUl1idXViXdIr0XYmVtdtv9prg89bT5TJFqJNWEstO6tYsCb0QhmG9wmBEFKX9ryePqk2vHpySnZaJaeSnZ1+O8OrMT79dc22h0uXPiwouHhxFMSWJ7pcIKMaTtkuLb6uoV4HG+AdKbA96uv5OkHKdgElvr5Bx08xbID1X69b18GXw8fNqlmRhQWRs52RswoLn3jn7MiCQnormF1QgCYIW1FaOijQCQZKy7LmgMAiGCwt9f1zmc8mvVFAvRFClOVIJGbpiRNSs0SSIyNKJWaIt52kITkSEMxJClEmyfk0GRXbtxegAf54wbys1Y4GPZzdXA7uDLr8+tUNxqB4kHFjVb0c1MkEoS9qtaDRV6+uMylO5vXwHA0aDLqs014WP6VRxuCVNdcqqhMG3a92RG3S69qqCdWK2leKOl9VdUKt4twZABDG7TsGYJ2go7Dw79XG8veydMZtw4OdnfQyFAQ+RfSIN7xZo3mP/fZJ77N3tPVJK98Bh+cW/ng9QjMQI54vAKCQEPB88bR51IIYBwoxFgCevbmh1IR98qC0pGv6IH2sC8rBoxoomiD2JETFn/IiCUpfQscgdR63FUqHq1kLUTyvPG3ocmi+py/9aIDaVrf7PHI/yGuRB03KQc2v+KO/IRi4trWFRf4PgGfQbchqyLuQXZDwFloO4fB9GygMviG3ia+TgYQx3ZAgwQMNQuEJj/RAIjzSZlFblhuP/NwHodwoBgBy9jHhf1ugENcdA94cAEDlIV8yeTs6Aak9ZR4EqheV8F+v9oC2YVZjGSXpNZbwz7Glv9vWrDO5fvuXuzdMJyYJQk3f7IR9l88T0qMc/09rMaz5D/knIfu+oLnvGwFMiWfxqvQhWZuojA0r24zMZYllLU9aOSSqCMz7HvD/rYWhR/2zRr3nMOoE76SINFWKRNdQcuCSorA8KSrdm2Ja6Qe2RKYbEsoBBgs3KQLfQIrI9UeJFngWZQi8k6JIjaMKgZ9TTL9wacwyBNttRGiw0JUHXZ+LM7I33uW+oW0Z4qflXxhrYqmWzhavFY/oMBbRw6zOrmY3RtdEqbTBvj5kFj09Sol5M6trGr+OnBua1zObVL1bEQINVNAqHfD49XLCMdtuyJ/vDbJaDERO6kuOapM1Ll+TiiDhoB5Fx7XOlnjO0rFWZhuyoRFGo7yiGbYy4lOp0KbT1RLKT+6ZuhyqtxZ531YNrzir31ZNLBG1W+/tS10Dsrmlta29o9HZ1d3T29cfLXqMmLHyzid2nLjx4gcnyDdhfonyL6DAxAUVXEihhRUOc4XOFq0og46REtuCy2iJn0fgbL15rphy6zI5tuL3fJD2EqZZkG/B4hNUSOipOyCGjFHcxpXrC03AO9OWqMqwTu6wQxaPcfROR1TgPeOSBtMUEcv4wnBgsbIkNgPVylRA20NxW5KzZ9Vi+W5q8OxsDhUFLjTTCxXJbpolqhFNk9YbaTPugjFTeJLKgQpw5wj3XKoh5qSTbGRLvewluhHbvLGEtFj0pajDI7ihQy48VZhmZ4vm6rNeVV6UgRxHSFW1tPUQ8mPnvNyymErC6nHYZBz2QEwyKQvpaF4JUq8H")
      format("woff2"),
    url("http://at.alicdn.com/t/c/font_3854947_oa71186m77.woff?t=1715330577223")
      format("woff"),
    url("http://at.alicdn.com/t/c/font_3854947_oa71186m77.ttf?t=1715330577223")
      format("truetype"),
    url("http://at.alicdn.com/t/c/font_3854947_oa71186m77.svg?t=1715330577223#iconfont")
      format("svg");
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-gengduo:before {
  content: "\ec1c";
}

.icon-fenlei:before {
  content: "\e6e7";
}

.icon-guanbi1:before {
  content: "\e6e8";
}

.icon-xiangshang:before {
  content: "\e6a3";
}

.icon-lunbozuo:before {
  content: "\e6ac";
}

.icon-lunboyou:before {
  content: "\e6ad";
}

.icon-a-PackageName:before {
  content: "\e75d";
}

.icon-a-Availableon:before {
  content: "\e75c";
}

.icon-a-UpdatedDate:before {
  content: "\e75e";
}

.icon-Version:before {
  content: "\e75f";
}

.icon-Developer:before {
  content: "\e760";
}

.icon-Size:before {
  content: "\e75b";
}

.icon-apple1:before {
  content: "\e733";
}

.icon-a-GooglePlaylogo1:before {
  content: "\e734";
}

.icon-zaixianyouxi:before {
  content: "\e746";
}

.icon-lujing:before {
  content: "\e761";
}

.icon-zuojiantou:before {
  content: "\e736";
}

.icon-youjiantou:before {
  content: "\e737";
}

.icon-anquan:before {
  content: "\e72a";
}

.icon-right1:before {
  content: "\e877";
}

.icon-left:before {
  content: "\e85c";
}

.icon-shoubing:before {
  content: "\e649";
}

.icon-lishi:before {
  content: "\e636";
}

.icon-caidan:before {
  content: "\e790";
}

.icon-danxuanfill:before {
  content: "\e71e";
}

.icon-duoxuan:before {
  content: "\e7f9";
}

.icon-duoxuan1:before {
  content: "\e696";
}

.icon-apple:before {
  content: "\e6d4";
}

.icon-a-GooglePlaylogo:before {
  content: "\e6d6";
}

.icon-quanping:before {
  content: "\e6e0";
}

.icon-zan:before {
  content: "\e870";
}

.icon-cai:before {
  content: "\e840";
}

.icon-play-filling:before {
  content: "\e87e";
}

.icon-right:before {
  content: "\e7eb";
}

.icon-anquanbaozhang:before {
  content: "\e88c";
}

.icon-sousuo:before {
  content: "\e622";
}

.icon-guanbi:before {
  content: "\eca0";
}

.icon-kuaijiecaidan:before {
  content: "\e623";
}

.icon-you:before {
  content: "\e63b";
}

.icon-zuo:before {
  content: "\e641";
}

.icon-right01:before {
  content: "\e60a";
}

.icon-xing:before {
  content: "\e71a";
}
