.br-red {
  border: 1px solid red;
  box-sizing: border-box;
}
.br-t {
  border-top: 1px solid #cdcdcd;
}
.br-r {
  border-right: 1px solid #cdcdcd;
}
.br-b {
  border-bottom: 1px solid #cdcdcd;
}
.br-l {
  border-left: 1px solid #cdcdcd;
}
.br-o {
  border: 1px solid #cdcdcd;
}
.border-box {
  box-sizing: border-box;
}
